html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %Rubik-500;
  font-size: 16px;
  color: $default;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1700px;
}

.footer {
  margin-top: 60px;
}

.title {
  @extend %DMSans-700;
  font-size: 36px;
  margin: 75px 0 37px;
  text-align: center;
}