@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';


.header {
  padding: 45px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item {
    margin-right: 35px;
  }

  &__list-item:last-child {
    margin-right: 0;
  }

  &__list-link {
    color: #436372;
  }
}

.user-nav {
  display: flex;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    border-radius: 15% / 50%;
    background-color: $background;
    padding: 0 20px;
  }

  &__link-img:last-child {
    margin-left: 20px;
  }

  &__link {
    position: relative;
    padding-right: 20px;
  }

  &__num {
    position: absolute;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: 12px;
    text-align: center;
    line-height: 16px;
  }

  &__stripe {
    color: #fff;
  }
}

.footer-top {
  padding-bottom: 70px;
  border-bottom: 1px solid $accent;
  display: flex;
  justify-content: space-between;

  &__item {
    @extend %Rubik-400;
    font-size: 14px;
    color: $link;
  }

  &__contact {
    width: 220px;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__address,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 14px;
  }

  &__title {
    @extend %DMSans-700;
    text-transform: uppercase;
    color: $title;
    font-size: 16px;
    margin-bottom: 45px;
  }

  &__link {
    display: block;
    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 35px;
  }

  &__item-form {
    width: 270px;
  }

  &__form-input {
    background-color: #fef7f0;
    border: none;
    padding: 14px;
    @extend %DMSans-400;
    color: #234969;
    width: 170px;
  }

  input::placeholder {
    color: #677e92;
  }

  &__form-btn {
    background-color: #a3bbc8;
    padding: 14px;
    color: #fafbfc;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;

  &__copy {
    color: $link;
  }

  &__menu {
    display: flex;
    color: $link;

    &-link {
      border-right: 1px solid $link;
      padding: 0 15px;

      &:last-child {
        border-right: none
      }
    }
  }
}

.top-slider {
  background-image: url('../images/top-slider-bg.png');
  padding: 180px 0 40px 0;

  &__inner {
    margin: 0 60px;
  }

  &__item {
    display: flex !important;
    justify-content: space-around;
    padding-bottom: 160px;
  }

  &__content {
    margin-right: 100px;
  }

  &__title {
    max-width: 425px;
    text-transform: uppercase;
    font-size: 72px;
    margin-bottom: 45px;
  }

  &__text {
    max-width: 370px;
    @extend %Rubik-400;
    font-size: 18px;
    margin-bottom: 40px;
    display: block;
  }

  &__link {
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 20px 17px 20px 25px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 15px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      margin-right: 12px;
      align-items: center;
      background-color: #fde3cc;
      border-radius: 50%;

      button {
        font-size: 11px;
        padding: 0;
        color: #243f4d;
        width: 27px;
        height: 27px;
      }

      &.slick-active {
        background-color: #fff;
        border-radius: 50%;
        width: 27px;
        height: 27px;
      }
    }
  }
}

.bottom-slider {
  padding: 50px 0 40px;
  background-color: #fef7f0;

  &__grid {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    max-width: 200px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 18px;
    color: #414141;
    line-height: 30px;
    position: relative;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
  }

  .support::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/support.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 53px;
    height: 54px;
    transform: translateX(-120%);
  }

  .delivery::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/delivery-truck.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 54px;
    height: 38px;
    transform: translateX(-120%);
  }

  .payment::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/credit-card.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 54px;
    height: 55px;
    transform: translateX(-120%);
  }
}

.product {
  margin-bottom: 185px;
}

.filter {
  @extend %DMSans-700;
  font-size: 16px;
  color: #8b8b8b;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;

  &-item:not(:last-child) {
    margin-right: 30px;
  }
}

.animation {
  color: #000;

  &--black:hover {
    color: #000;
  }
}

.product-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 30px;
}

.product-item {
  box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);
  background-color: #fff;
  padding: 40px;

  &__images {
    margin-bottom: 75px;
    height: 195px;
  }

  &__title {
    @extend %DMSans-500;
    margin-bottom: 15px;
    color: #243f4d;
    text-align: center;
  }

  &__price {
    @extend %DMSans-700;
    color: #a3bbc8;
    text-align: center;
  }

  &__img-box {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 85px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eef4f6;
    width: 45px;
    height: 45px;

    &__link:not(:last-child) {
      margin-right: 15px;
    }

    path {
      transition: all .3s;
    }
  }

  &__link:nth-child(2) {
    background-color: #a3bbc8;
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
}

.light__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.light__link {
  background-color: #feefe2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 390px;

  &-img {
    margin-top: -175px;
    margin-right: 15px;
  }
}

.light__subtitle {
  width: 345px;

  &-title {
    margin-bottom: 30px;
    @extend %DMSans-700;
    font-size: 26px;
  }

  &-text {
    margin-bottom: 30px;
    line-height: 2;
    @extend %Rubik-400;
  }

  &-btn {
    height: 60px;
    width: 180px;
    padding: 22px 20px;
    border: 1px solid $default;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.light {
  padding-bottom: 50px;
}

.design {
  padding-bottom: 120px;

  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }

  &__list {
    padding: 42px 0 30px 35px;
    background-color: #f8f8f8;
    height: 260px;
    width: 370px;
    overflow: hidden;
  }

  &__list-title {
    color: $title;
    @extend %DMSans-700;
    font-size: 20px;
    width: 170px;
  }

  &__list-link {
    color: #a3bbc8;
    @extend %DMSans-700;
  }

  &__list-img {
    margin-top: -27px;
    margin-left: 80px;
  }
}

.video__design {

  &-popup {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 480px;
  }

  &-play {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(1%, 120%);
  }
}

.blog {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-link {
      margin-top: 44px;
      @extend %DMSans-700;
      position: relative;
      right: 21px;

      &::after {
        position: absolute;
        content: '';
        height: 12px;
        width: 8px;
        background-image: url('../images/icons/arrow.svg');
        top: 2px;
        right: -21px;
      }
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    // min-height: 420px;

    &-btn {
      padding: 9px 30px;
      background-color: #a3bbc8;
      color: #fff;
      border-radius: 23px;
      margin: -9px 28px;
    }

    &-info {
      margin-top: 19px;
      @extend %DMSans-400;
      font-size: 12px;
      color: #000;
    }

    &-date {
      margin-right: 25px;
    }

    &-box {
      padding: 10px 39px;
    }

    &-title__link {
      @extend %DMSans-500;
      font-size: 18px;
      color: #000;
      border-bottom: 1px solid #e0e0e0;
      padding: 20px 0 17px;
    }
  }

  &__box {
    background-color: #fef7f0;
  }
}

.partners {
  padding-bottom: 85px;
  background-color: #f8d1a9;
  height: 435px;
  // margin-top: -185px;

  &-list {
    height: 110px;
    display: flex;
    // justify-content: space-around;
    // align-items: center;
  }

  // &-wrapper {
  
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: flex-end;
  // }
}